{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Comment ça marche ?{% endblock %}

{% block body %}

    <h2>Comment ça marche ?</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Avec Dilcam, votre ordinateur devient un poste de vidéosurveillance. Il suffit que votre ordinateur soit
        équipé d'une webcam et relié à internet pour utiliser le service.
    </p>

    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <div class="row">
        <div class="col-md-5">
            <h3>Filmer</h3>

            <p>
                Une fois que vous êtes inscrit sur Dilcam, rendez-vous dans votre tableau de bord et cliquez sur "Filmer".
                Ceci enclenche la webcam de votre ordinateur et votre domicile est maintenant vidéosurveillé.
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img src="{{ asset('build/images/guide/shoot.jpg') }}" class="img-fluid">
        </div>
    </div>

    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <div class="row">
        <div class="col-md-5">
            <h3>Surveiller</h3>

            <p>
                Depuis un autre appareil, qui peut être un téléphone ou un autre ordinateur, rendez-vous à nouveau sur le site
                Dilcam, et dans votre tableau de bord cliquez sur "Surveiller". Vous pouvez observer en direct ce qui est filmé
                par votre webcam à votre domicile.
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 text-center">
            <img src="{{ asset('build/images/guide/watch.jpg') }}" class="img-fluid" style="max-height: 400px;">
        </div>
    </div>

    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <div class="row">
        <div class="col-md-5">
            <h3>Historique des photos</h3>
            <p>
                En plus de la surveillance en direct, vous pouvez visionner un
                historique des photographies. En effet, Dilcam ne se contente pas de filmer :
                le service enregistre aussi au minimum une photographie par minute.
                Ces photographies sont conservées 7 jours. Pour les conserver sur une durée plus longue, vous pouvez les
                télécharger dans votre tableau de bord.
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <img src="{{ asset('build/images/guide/browse.jpg') }}" class="img-fluid">
        </div>
    </div>

    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <div class="row">
        <div class="col-md-5">
            <h3>Détection de mouvement</h3>

            <p>
                Dilcam analyse en continu ce que filme votre webcam, de façon à détecter tout mouvement éventuel.
                Chaque fois qu'un mouvement semble détecté, la photo est marquée comme suspecte et conservée dans
                l'historique. La page "Photos" du tableau de bord vous permet de les visualiser pendant 7 jours.
            </p>

            <h3>Alarmes</h3>

            <p>
                Non seulement Dilcam enregistre toute photo suspecte, mais le service vous envoie également un email
                pour vous alarmer. Les alarmes peuvent être activées ou désactivées dans votre tableau de bord.
            </p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5 text-center">
            <img src="{{ asset('build/images/guide/alarm.jpg') }}" class="img-fluid" style="max-height: 400px;">
        </div>
    </div>

    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <h3>Où sont conservées les vidéos et les photos ?</h3>

    <p>
        La vidéo est consultable en direct, mais n'est pas enregistrée. En revanche les photos sont conservées
        sur les serveurs de Dilcam. Rien n'est enregistré sur votre ordinateur. Ainsi, si votre ordinateur est volé,
        les photos restent consultables en ligne dans votre tableau de bord.
    </p>

    <h3>Et si votre ordinateur est volé ?</h3>

    <p>
        Supposons qu'un intrus pénètre dans votre domicile et s'empare de l'ordinateur, aurez-vous accès aux images ?
    </p>

    <p>
        Oui ! Étant donné qu'une photographie est prise toutes les deux secondes, et que toute photographie suspecte
        est enregistrée sur nos serveurs, une(ou plusieurs) photographie de l'intrus en flagrant délit sera enregistrée**
        et restera consultable a posteriori sur votre tableau de bord.
    </p>

    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <p class="text-center">
        <a href="{{ path('pages_contact') }}" class="btn btn-warning btn-lg">
            D'autres questions ?
        </a>
    </p>

    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <p class="text-center">
            <a href="{{ path('security_signup') }}" class="btn btn-success btn-lg">
                Essai gratuit
            </a>
        </p>
    {% endif %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    {# --------------------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    <p>
        <small>
            * : sous réserve que votre ordinateur soit relativement récent et à jour.
            <a href="{{ path('pages_hardware') }}">Veuillez consulter ici la configuration minimale</a>.
            Dans tous les cas, la période gratuite de 24 heures vous permet de vous assurer du
            bon fonctionnement du service sur vos appareils.
        </small>
    </p>

    <p>
        <small>
            ** : Dilcam ne peut garantir à 100 % l'enregistrement d'une photographie, en particulier dans des conditions
            de luminosité trop faible ou trop intense, ou de mauvaise visibilité.
            <a href="{{ path('pages_alarm') }}">En savoir plus sur les alarmes</a>.
        </small>
    </p>



{% endblock %}