{% extends 'frontend/default_layout.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

    <h2>Conditions générales d'utilisation</h2>

        <h3>Préambule</h3>

            <p>
                Dilcam est un service en ligne de vidéo surveillance par webcam, commercialisé
                à l'adresse https://dilcam.com. Le présent document détaille les droits
                et obligations des parties dans le cadre de la vente en ligne de ce service.
            </p>

            <p>
                Le Vendeur se réserve la possibilité de modifier les présentes, à tout moment par la publication d’une
                nouvelle version sur son site Internet. Les CGV applicables alors sont celles étant en vigueur à
                la date du paiement (ou du premier paiement en cas de paiements multiples) de la commande.
                Ces CGV sont consultables sur le site Internet de la Société à l’adresse suivante :
                https://dilcam.com/tos.
                Le Client déclare avoir pris connaissance de l’ensemble des présentes Conditions Générales de Vente,
                et les accepter sans restriction ni réserve. À cet effet, il doit cocher une case valant acceptation des
                présentes au moment de la souscription.
            </p>

        <h3>1 Identification</h3>

            <h4>1.1 Le vendeur</h4>

                <p>
                    N° SIREN : 814583886
                    <br>
                    N° SIRET : 81458388600019
                    <br>
                    Guillaume Pédelagrabe
                    <br>
                    Dilcam
                    <br>
                    6 impasse Mauriac
                    <br>
                    33000 Bordeaux
                    <br>
                    05 57 95 59 93
                    <br>
                    https://dilcam.com
                </p>

            {# -------------------------------------------------------------- #}

            <h4>1.2 Hébergeur</h4>

                <p>
                    Amazon Web Services
                    <br>
                    Tour Carpediem
                    <br>
                    31 place des Corolles
                    <br>
                    92098 PARIS – LA DEFENSE Cedex
                </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>2 Description du service</h3>

            <h4>2.1 Définitions</h4>

                <p>
                    Le service Dilcam nécessite l'utilisation d'un ordinateur avec connexion internet et webcam. Cet appareil sera
                    appelé "Appareil de surveillance" dans la suite de ce document. L'utilisateur peut alors regarder en direct
                    ce qui filmé par le poste de surveillance, à partir d'un autre appareil qui sera appelé
                    "Appareil d'observation" dans la suite de ce document.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>2.2 Vidéo et photos</h4>

                <p>
                    L'utilisateur enclenche la surveillance en se rendant sur son tableau de bord, sur la page "Filmer". Cette
                    page devra rester ouverte et active pendant toute la durée de la surveillance. Cette page est programmée pour :
                </p>

                <ul>
                    <li>Filmer</li>
                    <li>Enregistrer une photo par minute</li>
                    <li>Enregistrer toute photo pour laquelle un mouvement semble détecté</li>
                </ul>

                <p>
                    L'appareil de surveillance doit rester en permanence allumé et connecté à internet. L'utilisateur devra
                    laisser ouverte la page "Filmer".
                </p>

                <p>
                    Une connexion internet opérationnelle est indispensable au fonctionnement du service Dilcam. Si la connexion
                    est interrompue, le service Dilcam cesse de fonctionner jusqu'à ce qu'elle soit rétablie.
                </p>

                <p>
                    À partir de l'appareil d'observation, l'utilisateur peut :
                </p>

                <ul>
                    <li>Regarder la vidéo en direct.</li>
                    <li>Visionner les photos enregistrées.</li>
                </ul>

                <p>
                    Les photos sont conservées pendant 7 jours. Passé ce délai, elles sont automatiquement supprimées.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>2.3 Alarmes</h4>

                <p>
                    En plus d'enregistrer une photographie par minute, le service Dilcam enregistre toute photo qui paraît "suspecte".
                    Une photo dite "suspecte" est une photo pour laquelle un mouvement semble avoir été détecté.
                </p>

                <p>
                    La détermination de photos suspectes fonctionne de la façon suivante :
                </p>

                <ul>
                    <li>Dilcam prend une photo toutes les 2 secondes.</li>
                    <li>Chaque photo est comparée avec la précédente.</li>
                    <li>
                        Si la différence entre deux photos successives est supérieure à 3 %,
                        la deuxième photo est enregistrée.
                    </li>
                    <li>
                        Si la différencre entre deux photos successives est supérieure à
                        {{ (constant('App\\Manager\\PhotoManager::MIN_MISMATCH_FOR_ALARMING') / 100) | number_format(2, ',') }} %,
                        en plus d'être enregistrée, la deuxième photo générera une alarme.
                    </li>
                    <li>
                        Une alarme est un email envoyé à l'utilisateur, contenant la photo suspecte.
                    </li>
                    <li>
                        Dilcam n'envoie jamais plus d'une alarme par tranche de
                        {{ constant('App\\Manager\\PhotoManager::MIN_ALARM_INTERVAL') / 60 }} minutes.
                    </li>
                </ul>

                <p>
                    L'utilisateur peut désactiver l'alarme dans son tableau de bord.
                </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>3 Limitations du service et restrictions de fonctionnement</h3>

            <h4>3.1 Matériel</h4>

            <p>
                Le service Dilcam nécessite un ordinateur équipé d'une webcam et connecté à internet.
            </p>

            {# -------------------------------------------------------------- #}

            <h4>3.2 Configuration logicielle</h4>

                <p>
                    Le service Dilcam fait appel à des technologies récentes de transfert de vidéo. De fait, Dilcam ne garantit pas
                    un fonctionnement complet sur tous les ordinateurs, en particulier sur les ordinateurs anciens.
                    Dilcam garantit un fonctionnement normal du service si l'appareil qui filme tourne sur l'une des
                    combinaisons suivantes de Système d'exploitation et de navigateurs, à la condition que ceux-ci
                    soient à jour :
                </p>

                <ul>
                    <li>
                        Windows 10 - navigateurs Edge, Chrome ou Firefox.
                    </li>
                    <li>
                        Mac OS 10.13 (High Sierra) ou supérieur / iOS 11 ou supérieur - navigateurs Safari ou Chrome.
                    </li>
                    <li>
                        Ubuntu 17 ou supérieur - navigateurs Chrome ou Firefox.
                    </li>
                </ul>

                <p>
                    L'observation pourra être effectuée sur les mêmes systèmes que ceux
                    cités ci-dessus, ainsi que sur :
                </p>

                <ul>
                    <li>
                        Androïd - navigateur Chrome, si l'appareil de surveillance utilise Chrome, Firefox ou Edge.
                    </li>
                    <li>
                        iPhone - navigateur Safari, si l'appareil de surveillance utilise Safari.
                    </li>
                </ul>

                <p>
                    Dans tous les cas, l'utilisateur est fortement encouragé à essayer le service avec la
                    période d'essai gratuite de 24 heures afin de s'assurer qu'elle fonctionne parfaitement sur ses
                    appareils.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>3.3 Conditions de bon fonctionnement</h4>

                <p>
                    En plus des conditions logicielles citées ci-dessus, le service nécessite une connexion internet
                    opérationnelle, et l'appareil de surveillance doit rester en éveil. De fait, l'utilisateur doit
                    s'assurer que son ordinateur n'entrera pas en veille automatiquement en son absence. Dilcam met
                    en oeuvre la technologie nécessaire pour éviter, dans la mesure du possible,
                    toute mise en veille automatique de l'ordinateur
                    si la fenêtre de film reste ouverte et active. Cependant, étant donné qu'il s'agit en dernier ressort
                    d'un paramétrage système indépendant de l'application, c'est à l'utilisateur de s'assurer que son
                    ordinateur n'entrera pas en veille automatiquement.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>3.4 Non garantie des alarmes</h4>

                <p>
                    Malgré tout l'effort apporté à l'algorithme de détection d'images suspectes telles que décrit
                    dans le paragraphe 2.3 du présent document :
                </p>

                <ul>
                    <li>
                        Dilcam ne peut pas garantir avec 100 % de certitude que tout mouvement sera détecté,
                        ni qu'une alarme sera générée de façon certaine en cas de mouvement devant la caméra.
                    </li>
                    <li>
                        Inversement, il peut arriver que le service Dilcam détecte une image suspecte par erreur,
                        et déclencher une alarme par email alors que rien d'anormal ne s'est produit devant la caméra.
                        Cela peut notamment se produire en cas de changement brusque de luminosité : phares d'une voiture
                        passant dans la rue, nuage soudain qui assombrit la pièce filmée, etc.
                    </li>
                </ul>

                <p>
                    La période d'essai de 24 heures cumulées permettra à l'utilisateur de s'assurer que le fonctionnement
                    de l'alarme correspond bien à ses attentes.
                </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>4 Essai gratuit, souscription, prix et durée</h3>

            <h4>4.1 Essai gratuit</h4>

                <p>
                    Le vendeur offre une période d'essai gratuite de 24 heures cumulées à tout nouvel utilisateur. Cette
                    période d'essai offre toutes les fonctionnalités du service, afin de permettre à l'utilisateur de
                    vérifier qu'il correspond bien à ses attentes et fonctionne parfaitement sur son matériel et sur
                    sa configuration logicielle.
                </p>

                <p>
                    Cette période d'essai est de 24 heures cumulées. L'appareil de surveillance peut donc être éteint
                    puis rallumé à tout moment : seules les minutes pendant lesqueles l'appareil est allumé sont comptées.
                    Ces 24 heures cumulées peuvent donc s'étaler sur plusieurs jours, semaines, mois ou années.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>4.2 Souscription</h4>

                <p>
                    À la souscription, l'utilisateur choisit la durée pour laquelle il souhaite utiliser le service.
                    Il choisit cette durée en nombre de mois, pouvant aller de 1 mois minimum à 24 mois.
                    La totalité des frais est donc payée à la souscription. Il n'y a pas de paiement
                    récurrent.
                    Le service est disponible dès que la souscription est effectuée, et comprend l'ensemble des
                    fonctionnalités décrites à l'article 2 du présent document.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>4.3 Prix</h4>

                <p>
                    Le prix est de {{ constant('App\\Service\\SubscriptionService::MONTHLY_PRICE')|price }} TTC par mois d'utilisation. TVA non applicable,
                    art. 293 B du CGI.
                </p>

            {# -------------------------------------------------------------- #}

            <h4>4.4 Droit de rétractation</h4>

                <p>
                    Conformément à l’article L. 121-20 du Code de la consommation,
                    « le consommateur dispose d’un délai de quatorze jours francs pour exercer son droit de rétractation
                    sans avoir à justifier de motifs ni à payer de pénalités, à l’exception, le cas échéant, des frais de retour ».

                    Pour exercer son droit de rétractation, le client pourra simplement remplir le formulaire en ligne disponible
                    à l'adresse suivante : <a href="{{ url('pages_withdrawal') }} ">Formulaire de rétractation</a>.
                </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>5 Réclamation</h3>

        <p>
            L'Acheteur peut présenter toute réclamation en contactant le Vendeur par email via le
            <a href="{{ path('pages_contact') }}">formulaire de contact</a> ou par voie postale,
            à l'adresse mentionnée à l'article 1 du présent document.
        </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>6 Droits de propriété intellectuelle</h3>

        <p>
            Les marques, noms de domaines, produits, logiciels, images, vidéos, textes ou plus généralement
            toute information objet de droits de propriété intellectuelle sont et restent la propriété exclusive du vendeur.
            Aucune cession de droits de propriété intellectuelle n’est réalisée au travers des présentes CGV.
            Toute reproduction totale ou partielle, modification ou utilisation de ces biens pour quelque motif que ce soit
            est strictement interdite.
        </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>7 Force majeure</h3>

        <p>
            L’exécution des obligations du vendeur au terme des présentes est suspendue en cas de survenance d’un cas
            fortuit ou de force majeure qui en empêcherait l’exécution. Le vendeur avisera le client de la survenance d’un tel
            évènement dès que possible.
        </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>8 Nullité et modification du contrat</h3>

        <p>
            Si l’une des stipulations du présent contrat était annulée, cette nullité n’entraînerait pas la nullité des autres
            stipulations qui demeureront en vigueur entre les parties. Toute modification contractuelle n’est valable qu’après
            un accord écrit et signé des parties.
        </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

        <h3>9 Données personnelles</h3>

            <h4>9.1 Données récoltées</h4>

            <p>
                Lors de l'inscription au service, la seule donnée demandée est l'adresse email de l'utilisateur.
                Aucune autre donnée n'est demandée pour utiliser la période d'essai gratuite.
                Si l'utilisateur décide de souscrire au service, le formulaire de paiement demandera le nom
                et le numéro de carte bancaire de l'acheteur. Le vendeur conservera l'adresse email et
                le nom du client, mais ne conserve aucun numéro de carte bancaire.
            </p>

            <p>
                Dilcam utilise le service de la société <a href="https://stripe.com/fr" target="_blank">Stripe</a>
                pour le paiement par carte bancaire. Stripe est une
                société internationale dont le service est certifié conforme au Standard PCI/DSS par Visa et Mastercard.
                Cette certification garantit les règles les plus strictes en matière de transmission
                et de protection des données de carte bancaire. Vos coordonnées de carte bancaire ne sont pas enregistrées
                ni stockées par le vendeur.
            </p>

            <p>
                Le Vendeur ne conserve aucun film enregistré par la webcam de l'utilisateur.
                En revanche, le Vendeur conserve temporairement sur ses serveurs les photographies prises par
                la webcam de l'utilisateur afin que l'utilisateur puisse
                les consulter depuis un autre appareil et/ou ultérieurement au moment ou elles ont été prises. Ces photographies
                sont automatiquement supprimées après 7 jours. L'utilisateur peut également les supprimer manuellement.
                Dès lors qu'une photographie est supprimée, soit automatiquement après le délai de 7 jours, soit manuellement par
                l'utilisateur, le Vendeur n'en conserve aucune copie et la photographie est définitivement supprimée
                de ses serveurs.
            </p>

            {# -------------------------------------------------------------- #}

            <h4>9.2 Modification et suppression de vos données personnelles</h4>

            <p>
                Conformément à la Loi Informatique et Libertés du 6 janvier 1978, vous disposez des droits d’interrogation,
                d’accès, de modification, d’opposition et de rectification sur les données personnelles vous concernant.
                En adhérant à ces conditions générales de vente, vous consentez à ce que nous collections et utilisions
                ces données pour la réalisation du présent contrat.
            </p>

            <p>
                Les photos enregistrées par le service par le biais de la webcam de l'utilisateur sont supprimées
                après 7 jours d'existence.
                L'utilisateur peut toutefois les supprimer avant ce délai : une fonctionnalité de suppression de la
                totalité de ses photos est disponible dans son tableau de bord.
                L'utilisateur peut adresser une demande de changement d'email ou demander une suppression
                complète de son compte via le <a href="{{ path('pages_contact') }}">formulaire de contact</a>.
            </p>

        {# =========================================================================================================== #}
        {# =========================================================================================================== #}

            <h3>10 Droit applicable</h3>

            <p>
                Toutes les clauses figurant dans les présentes conditions générales de vente, ainsi que toutes les
                opérations d’achat et de vente qui y sont visées, seront soumises au droit français.
            </p>

            <p>
                À titre d'information, il est rappelé qu'un particulier peut placer des caméras de vidéo survillance
                à son domicile, tant que ces caméras ne filment que l'intérieur de sa propriété (appartement, maison,
                jardin, etc) ou ses abords immédiats (trottoir, façade).
                Il est en revanche interdit de filmer des lieux publics (voisinage, rue) sans autorisation.
                Par ailleurs, si du personnel travaille au domicile (femme de ménage, infirmière à domicile, etc),
                celui-ci doit être informé de la présence des caméras, de leur emplacement et des personnes
                qui peuvent les consulter.
            </p>

            <p>
                Dans tous les cas, le vendeur ne saurait être tenu pour responsable d'une utilisation contraire à la loi
                du service Dilcam.
            </p>

{% endblock %}