<!DOCTYPE html>
<html>
<head>
    {% include 'frontend/includes/_head.html.twig' %}
    <title>Filmer - Dilcam</title>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            {% include 'frontend/includes/_flash.html.twig' %}

            <div class="p-2 text-center">
                <a href="{{ path('home') }}" class="navbar-brand">
                    Dilcam
                </a>
            </div>

            <div class="alert alert-danger" id="alertNoRTC" style="display: none;">
                Votre navigateur ne supporte pas le transfert de vidéo. Merci de le mettre
                à jour ou d'utiliser <a href="https://www.google.com/intl/fr_ALL/chrome/">Google Chrome</a>
                ou <a href="https://www.mozilla.org/fr/firefox/new/">Mozilla Firefox</a>.
            </div>

            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" id="localVideo" autoplay muted></video>
            </div>

            <div id="help" class="pt-2">
                {% include 'frontend/dashboard/shoot/includes/_help.html.twig' %}
            </div>

            {% if 'dev' == app.environment %}
                <div class="text-center mt-3">
                    <button id="snapButton" class="btn btn-info">Snap a photo</button>
                </div>
            {% endif %}

            <canvas id="canvas" class="d-none"></canvas>
        </div>
        <div class="col-md-2"></div>
    </div>



    <input type="hidden" id="snapPath" value="{{ path('photo_snap') }}">
    <input type="hidden" id="cameraRefusedPath" value="{{ path('dashboard_camera_refused') }}">
    <input type="hidden" id="roomId" value="{{ app.user.roomId }}">
    <input type="hidden" id="allowedIceType" value="{{ allowedIceType }}">

    <script type="text/javascript" src="{{ asset('build/js-css/resemble.js') }}"></script>
    <script type="text/javascript" src="{{ asset('build/js-css/shoot.js') }}"></script>


</div>
</body>
</html>
