{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Surveiller{% endblock %}

{% block body %}

    <h2>Surveiller</h2>

    {% include 'frontend/includes/_user_status.html.twig' %}

    {% include 'frontend/includes/_flash.html.twig' %}

    <div class="alert alert-danger" id="alertNoRTC" style="display: none;">
        Votre navigateur ne supporte pas le transfert de vidéo. Merci de le mettre
        à jour ou d'utiliser <a href="https://www.google.com/intl/fr_ALL/chrome/">Google Chrome</a>
        ou <a href="https://www.mozilla.org/fr/firefox/new/">Mozilla Firefox</a>.
    </div>

    <div class="alert alert-warning" id="alertPendingConnection">
        Connexion en cours...
    </div>

    <div class="alert alert-danger" id="alertShooterNotExists" style="display: none;">
        Aucune caméra n'est active. Vous devriez d'abord vous rendre sur la page
        <a href="{{ path('dashboard_shoot_junction') }}">Filmer</a>.
    </div>

    <div class="alert alert-danger" id="alertShooterSeemsNotExists" style="display: none;">
        Il semblerait que le poste de surveillance ait subi une déconnexion subite.
        Il est possible que ce soit dû à une déconnexion passagère d'internet à votre domicile,
        ou à une mise à jour de votre box. Veuillez patienter quelques minutes et réessayer.
    </div>

    <div class="alert alert-danger" id="alertIssue" style="display: none;">
        Réception impossible. Il est probable que votre connexion internet est actuellement trop faible pour
        permettre une réception vidéo.
        <a href="javascript:window.location.reload(true)">Réessayer</a>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" id="remoteVideo" autoplay></video>
    </div>

    <br>

    <input type="hidden" id="roomId" value="{{ app.user.roomId }}">
    <input type="hidden" id="pathWatchTimeout" value="{{ path('dashboard_watch_timeout') }}">
    <input type="hidden" id="allowedIceType" value="{{ allowedIceType }}">

    <script type="text/javascript" src="{{ asset('build/js-css/watch.js') }}"></script>

{% endblock %}
