{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}

    <h2>Votre compte</h2>

    {% set userStatus = userStatus(app.user) %}

    <h3>Votre abonnement</h3>

    {% if userStatus == constant('App\\Service\\SubscriptionService::STATUS_TRIAL') %}
        <p>
            Vous êtes en période d'essai.
            Il vous reste {{ app.user|trialDuration }}.
        </p>
        <p>
            <a href="{{ path('dashboard_subscription_quantity') }}" class="btn btn-info">
                Vous abonner
            </a>
        </p>
    {% endif %}

    {% if userStatus == constant('App\\Service\\SubscriptionService::STATUS_SUBSCRIBED') %}
        <p>
            Vous êtes abonné jusqu'au {{ app.user.subscribedTill | date('d/m/Y') }}.
        </p>
        <p>
            <a href="{{ path('dashboard_subscription_quantity') }}" class="btn btn-info">
                Acheter des mois supplémentaires
            </a>
        </p>
    {% endif %}

    {% if userStatus == constant('App\\Service\\SubscriptionService::STATUS_NOTHING') %}
        <p>
            Votre période d'essai est terminée et vous n'avez aucun abonnement.
        </p>
        <p>
            <a href="{{ path('dashboard_subscription_quantity') }}" class="btn btn-info">
                Vous abonner
            </a>
        </p>
    {% endif %}

    <h3>Mot de passe</h3>

    <a href="{{ path('dashboard_account_change_password') }}">
        Changer votre mot de passe
    </a>

    <h3>Vos commandes</h3>

    <a href="{{ path('dashboard_account_transactions') }}">
        Voir la liste de vos commandes
    </a>

{% endblock %}
