{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Activer / Désactiver l'alarme{% endblock %}

{% block body %}

    <h2>Activer / Désactiver</h2>

    {% include 'frontend/includes/_user_status.html.twig' %}

    {% if (app.user.alarmEnabled) %}
        <p>
            L'alarme est actuellement <strong>activée</strong>.
        </p>
        <ul>
            <li>
                La fréquence des alarmes est de
                <strong>1 alarme maximum par tranche de {{ constant('App\\Manager\\PhotoManager::MIN_ALARM_INTERVAL') / 60 }} minutes</strong>.
            </li>
            <li>
                Une alarme n'est envoyée que si la probablité de mouvement détecté est supérieure à
                <strong>{{ (constant('App\\Manager\\PhotoManager::MIN_MISMATCH_FOR_ALARMING') / 100) | number_format(2, ',') }} %</strong>.
            </li>
        </ul>
        <p>
            <a href="{{ path('pages_alarm') }}">
                Plus d'informations sur le fonctionnent de l'alarme.
            </a>
        </p>
        <p>
            <a class="btn btn-warning" href="{{ path('dashboard_alarm_disable') }}">Désactiver</a>
        </p>
    {% else %}
        <p>
            L'alarme est actuellement <strong>désactivée</strong>.
        </p>
        <p>
            <a class="btn btn-info" href="{{ path('dashboard_alarm_enable') }}">Activer</a>
        </p>
        <p>
            <a href="{{ path('pages_alarm') }}">
                Plus d'informations sur le fonctionnent de l'alarme.
            </a>
        </p>
    {% endif %}

    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>
    oui<br>

{% endblock %}
