{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Visionner les photos{% endblock %}

{% block body %}

    <h2>Visionner les photos</h2>

    {% include 'frontend/includes/_user_status.html.twig' %}

    {% include 'frontend/includes/_flash.html.twig' %}

    <div id="alertNoPhoto" class="alert alert-danger" style="display: none;">
        Vous n'avez actuellement aucune photo.
        Vous devriez d'abord vous rendre sur la page
        <a href="{{ path('dashboard_shoot_junction') }}">Filmer</a>.
    </div>

    <div class="row" id="browser">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div id="browser">
                <div id="browserImgContainer" class="w-100">
                    <img id="browserImg" class="w-100">
                    <a class="btn btn-success btn-sm"
                       id="download"
                       href="#">
                        <i class="fa fa-download"></i>
                    </a>
                </div>
                <div>
                    <a id="leftButton" class="float-left display-4" href="#">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a id="rightButton" class="float-right display-4" href="#">
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <div id="legend" class="text-center pt-4">
                        <span id="loading"><img src="{{ asset('build/images/loading.gif') }}"></span>
                        <strong id="photoDate" style="display: none;">The date</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row" id="controls">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <table>
                <tr>
                    <td class="pr-2">Mois</td>
                    <td class="p">Jour</td>
                    <td class="pr-2">Heure</td>
                    {% set infoDiff = "Le pourcentage indique la certitude avec laquelle un mouvement a été détecté sur une photo." %}
                    <td class="pr-2">         Diff. <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="{{ infoDiff }}"></span></td>
                </tr>
                <tr>
                    <td id="months" class="align-top pr-4"></td>
                    <td id="days" class="align-top pr-4"></td>
                    <td id="hours" class="align-top pr-4"></td>
                    <td id="seconds" class="align-top"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row m-3">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <p>
                <a href="{{ path('dashboard_browse_info') }}">
                    <span class="fa fa-caret-right"></span>
                    Quelles sont les photos enregistrées ?
                </a>
            </p>
            <a href="{{ path('dashboard_browse_delete_all_preparation') }}" class="btn btn-danger">
                Supprimer toutes les photos
            </a>
            {% if 'dev' == app.environment %}
                <br><br>
                <a class="btn btn-info" href="#" id="reset">
                    <i class="fa fa-refresh"></i>
                    Rafraîchir
                </a>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>

    <input type="hidden" id="pathBrowseAllPhotos" value="{{ path('dashboard_browse_all_photos') }}">

    <script type="text/javascript" src="{{ asset('build/js-css/browse.js') }}"></script>

{% endblock %}
