<!DOCTYPE html>
<html>
<head>
    {% include 'frontend/includes/_head.html.twig' %}
    <title>Dilcam - {% block title %}{% endblock %}</title>
</head>
<body>

<table>
    <tr>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>

    <div id="dashboard">

        <!-- Sidebar -->
        <div id="dashboard-sidebar">

            <div id="dashboard-sidebar-top" class="text-center">
                <a href="{{ path('home') }}" class="navbar-brand">
                    Dilcam
                </a>
            </div>

            <ul class="sidebar-nav">
                <li>
                    <a href="{{ path('dashboard') }}">
                        <i class="fa fa-columns"></i>
                        Tableau de bord
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_subscription_manage') }}">
                        <i class="fa fa-file-video"></i>
                        Abonnement
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_shoot_junction') }}">
                        <i class="fa fa-video"></i>
                        Filmer
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_watch_watch') }}">
                        <i class="fa fa-eye"></i>
                        Surveiller
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_browse') }}">
                        <i class="fa fa-image"></i>
                        Photos
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_alarm') }}">
                        <i class="fa fa-exclamation-triangle"></i>
                        Alarme
                    </a>
                </li>
                <li>
                    <a href="{{ path('dashboard_change_password') }}">
                        <i class="fa fa-lock"></i>
                        Mot de passe
                    </a>
                </li>
                <li>
                    <a href="{{ path('security_logout') }}">
                        <i class="fa fa-sign-out-alt"></i>
                        Déconnexion
                    </a>
                </li>
                <li>
                    {{ app.user.email }}
                </li>
            </ul>
            <p>

            </p>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="dashboard-page-content">
            <div class="container-fluid">
                <span></span>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Menu</a>
                {% include 'frontend/includes/_flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#dashboard").toggleClass("toggled");
        });
    </script>

</body>
</html>