<!DOCTYPE html>
<html>
<head>
    {% include 'frontend/includes/_head.html.twig' %}
    <title>Dilcam - {% block title %}{% endblock %}</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-3">

                <a href="{{ path('home') }}">Dilcam</a>
                <br>
                {{ app.user.email }}
                <br>
                <a href="{{ path('security_logout') }}">Déconnexion</a>
                <br>

                <div class="list-group mt-4">
                    <a href="{{ path('dashboard') }}" class="list-group-item list-group-item-action">
                        Tableau de bord
                    </a>
                    <a href="{{ path('dashboard_subscription_manage') }}" class="list-group-item list-group-item-action">
                        Abonnement
                    </a>
                    <a href="{{ path('dashboard_shoot_junction') }}" class="list-group-item list-group-item-action">
                        Filmer
                    </a>
                    <a href="{{ path('dashboard_watch_watch') }}" class="list-group-item list-group-item-action">
                        Surveiller
                    </a>
                    <a href="{{ path('dashboard_browse') }}" class="list-group-item list-group-item-action">
                        Visionner les photos
                    </a>
                    <a href="{{ path('dashboard_alarm') }}" class="list-group-item list-group-item-action">
                        Alarme
                    </a>
                    <a href="{{ path('dashboard_change_password') }}" class="list-group-item list-group-item-action">
                        Mot de passe
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                {% include 'frontend/includes/_flash.html.twig' %}
                {% block body %}{% endblock %}
            </div>
        </div>

        {% include 'frontend/includes/_footer.html.twig' %}
        {% include 'frontend/includes/_cookies_alert.html.twig' %}

    </div>
</body>
</html>