<!DOCTYPE html>
<html>
<head>
    {% include 'frontend/includes/_head.html.twig' %}
    <title>Dilcam - {% block title %}{% endblock %}</title>
</head>
<body>

    <header id="header">
        <div class="container">

            <nav class="navbar navbar-expand-lg">

                <a class="navbar-brand" href="{{ path('home') }}">Dilcam</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    Menu
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'pages_guide' %}active{% endif %}"
                               href="{{ path('pages_guide') }}">
                                Comment ça marche ?
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if app.request.get('_route') == 'pages_pricing' %}active{% endif %}"
                               href="{{ path('pages_pricing') }}">
                                Prix
                            </a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('dashboard') }}">
                                    Tableau de bord
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout') }}">
                                    Déconnexion
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'security_login' %}active{% endif %}"
                                   href="{{ path('security_login') }}">
                                    Connexion
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'security_signup' %}active{% endif %}"
                                   href="{{ path('security_signup') }}">
                                    Essai gratuit
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

        </div>

    </header>

    {% if app.request.get('_route') == 'home' %}
        <section id="hero" class="hero has-bg-map has-gradient">

            <div class="computer"></div>

            <div class="container">
                <div class="row">
                    <!-- Heading Area -->
                    <div class="col-md-6">
                        <h1 class="has-text-shadow">
                            Vidéosurveillance
                            <br>
                            par webcam
                        </h1>
                        <p class="pb-2">
                            Surveillez votre habitat avec
                            <br>
                            la webcam de votre ordinateur.
                        </p>
                        <a href="#" id="knowMore">
                            En savoir plus
                        </a>
                    </div>
                </div>
            </div>

        </section>

        <script>
            jQuery("#knowMore").click(function() {
                $('html, body').animate({
                    scrollTop: $("#services").offset().top
                }, 1000);
                return false;
            });
        </script>

    {% endif %}

    <div id="content" class="container">
        {% block body %}{% endblock %}
        {% include 'frontend/includes/_cookies_alert.html.twig' %}
    </div>

    <footer id="footer" class="footer">
        {% include 'frontend/includes/_footer.html.twig' %}
    </footer>

</body>
</html>
