{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Transaction{% endblock %}

{% block body %}
    <h2>Transaction</h2>

    <p>
        <strong>Nombre de mois : </strong>
        {{ subscription.quantity }}
        <br>

        <strong>Votre abonnement sera valable jusqu'au : </strong>
        {{ subscription.endAt | date('d/m/Y') }}
        <br>

        <strong>Montant : </strong>
        {{ (subscription.amount / 100) | number_format(2, ',', ' ') }} €
    </p>

    <p>
        <a href="{{ path('dashboard_subscription_quantity', {quantity: subscription.quantity}) }}" class="btn btn-warning">
            Modifier la durée
        </a>
    </p>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            <form action="{{ path('dashboard_subscription_checkout') }}" method="post" id="payment-form">

                <table class="w-100">
                    <tr>
                        <td colspan="4" class="pb-2 align-top">
                            <label for="cardNumber-element">Numéro de carte</label>
                            <div id="cardNumber-element" class="form-control"></div>
                            <div id="cardNumber-errors" class="text-danger"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="pb-4 pr-2 align-top">
                            <label for="cardExpiry-element">Epiration</label>
                            <div id="cardExpiry-element" class="form-control"></div>
                            <div id="cardExpiry-errors" class="text-danger"></div>
                        </td>

                        <td class="pb-4 align-top w-50">
                            <label for="cardCvc-element">Cryptogramme</label>
                            <div id="cardCvc-element" class="form-control"></div>
                            <div id="cardCvc-errors" class="text-danger"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="align-top">
                            <input type="hidden" id="tokenId" name="tokenId">
                            <input type="hidden" id="quantity" name="quantity" value="{{ subscription.quantity }}">
                            <button class="btn btn-info">Payer</button>
                        </td>
                    </tr>
                </table>

            </form>

            <input type="hidden" id="stripeApiKey" value="{{ stripeApiKey|raw }}">

        </div>
        <div class="col-md-3"></div>
    </div>



    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ asset('build/js/subscription-form.js') }}"></script>

{% endblock %}
