{% extends 'frontend/dashboard_layout.html.twig' %}

{% block title %}Choisissez la durée de votre abonnement{% endblock %}

{% block body %}

    <h2>Choisissez la durée de votre abonnement</h2>

    {% include 'frontend/includes/_flash.html.twig' %}

    <p>
        Choisissez ci-dessous la durée pour laquelle vous souhaitez utiliser le service Dilcam.
    </p>

    <p>
        <strong>Prix : </strong>
        {{ constant('App\\Service\\SubscriptionService::MONTHLY_PRICE')|price }} TTC / mois
    </p>

    <br>

    <div style="max-width: 250px;">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}
        <div id="subscriptionQuantityPrice">
            Total :
            <strong>
                <span id="total">7,90</span> € TTC
            </strong>
        </div>
        <button type="submit" class="btn btn-primary">
            Étape suivante
        </button>
        {{ form_end(form) }}
    </div>

    <input type="hidden" id="monthlyPrice" value="{{ constant('App\\Service\\SubscriptionService::MONTHLY_PRICE') }}">

    <script>

        const monthlyPrice = $('#monthlyPrice').val();

        function getFormatedTotalByQuantity(quantity) {
            let total = quantity * monthlyPrice / 100;
            total = String(total.toFixed(2));
            total = total.replace(".", ",");

            return total;
        }

        $(document).ready(function() {
            $('#quantity_quantity').change(function() {
                let quantity = $(this).val();
                let total = getFormatedTotalByQuantity(quantity);
                $('#total').html(total);

            });

        });
    </script>


{% endblock %}
